# Logs
logs/
*.log

# artifact directories
dist/

# Dependency directories
node_modules/

# Caches
.eslintcache

# IDEs and editors
.idea/
.project/
.classpath/
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
.vscode/

# misc
.webpack
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
lerna-debug.log

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data